
<button mat-button color="primary" *ngIf="filemode===true" (click)="back()"><i class="fa-thin fa-arrow-left"></i> Back
</button>
<mat-nav-list *ngFor="let folder of list">
    <a mat-list-item (click)="files(folder)" *ngIf="filemode===false">
        <span mat-line><i class="fa-thin fa-folder"></i> {{folder.name}}</span><br>
        <span mat-line class="sub-line"> <i class="fa-thin">{{folder.files.length}} items</i></span>
      </a>
    <a mat-list-item (click)="download(folder.link)" *ngIf="filemode===true">
        <span mat-line><i class="fa-thin fa-{{folder.icon}}"> {{folder.name}}</i><i class="fa-thin fa-download" style="float:right; color: aquamarine;"> {{folder.size}} mb</i></span>
    </a>
  </mat-nav-list>