
  <div class="display-5">
    <i class="fa-thin fa-download"> Downloads</i>
  </div>
    
    <mat-nav-list>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="hc.files()">
            <span mat-line><i class="fa-thin fa-mobile"> For Phone</i></span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="hc.pc_files()">
            <span mat-line><i class="fa-thin fa-desktop"> For Computer</i></span>
        </a>
        <mat-divider></mat-divider>
    </mat-nav-list>
    <mat-card-actions>
        <button mat-flat-button color="warn" class="mx-1" routerLink="../welcome">Back</button>
        <button mat-flat-button color="primary" class="mx-1">Folder</button>
    </mat-card-actions>
