<mat-card class="code">
        <mat-card-header>
            <mat-card-title class="title">
                Verification.
            </mat-card-title >
            <mat-card-subtitle class="title">
Please tell use code you have
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="content">

            <mat-form-field appearance="fill" class="field my-3" color="primary">
                <mat-label>Enter Code</mat-label>
                <input matInput placeholder="ex- 123-456-789" [(ngModel)]="code" required MatFormFieldControl="flflf">
              </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
           <button mat-raised-button class="btn mx-1">Cancel</button>
           <button mat-raised-button class="btn mx-1" (click)="doned(code)">Done</button>
        </mat-card-actions>
</mat-card>
<ng-template [ngIf]="this.file===true">
<app-welcome></app-welcome>
</ng-template>