.code{
    border:0;
    margin:auto;
    color: #fff;
font-family:rwl;
background:#222;
opacity:0.8;
padding:15px;
.title{
    font-family:rwl;
    color:#fff;
}
.field{
    
}
}
.logo{
    font-family:toxic;
    font-size:3em;
}