<div class="body" (hover)="hover()">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="aftereffect">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </div>

</div>


<div class="loader" *ngIf="hc.is_panel===true">
    <div class="line"></div>
    <div class="load_text">Loading... Downloading Page</div>
</div>
<div class="downloader" *ngIf="hc.is_panel===true">
    <button mat-button color="warn" (click)="hc.back()"><i class="fa-thin fa-arrow-left"></i> Back</button>
</div>

<div class="copyright">
    <i class="fa-thin fa-copyright"></i> Copyright Harihar Cretions ltd.
</div>
<div class="music">
    <i class="fa-thin fa-volume"></i> <span class="mic_text"> Loading Music</span> 
</div>