<div class="display-5 mb-2">
    <i class="fa-thin fa-box"> Product</i>
    <div class="lead">In 500 ruppes</div>
</div>
<mat-divider></mat-divider>
<p class="lead">More than 18 Cracked Applications. with Driver Downloader for pc</p>
<mat-nav-list class="m-1">
    <a mat-list-item (click)="hc.files()">
        <span mat-line><i class="fa-thin fa-arrow-right"></i> Android</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="hc.pc_files()">
        <span mat-line><i class="fa-thin fa-arrow-right"></i> Computer</span>
    </a>
</mat-nav-list>
<button class="mx-1" mat-flat-button color="warn"  routerLink="../welcome"><i class="fa-thin fa-arrow-left"></i> Back</button>