
<div class="loading_dwn">
    <div class="line flex-center" *ngIf="icon===false"></div>
    <i class="fa-thin fa-download fa-4x" style="color: rgb(0, 149, 255);" *ngIf="icon===true"></i>
    <div class="text">
        Loading... Download Link
    </div>
</div>
<button mat-flat-button color="warn" routerLink="../files" class="mt-3 mx-1"><i class="fa-thin fa-arrow-left"></i> Back</button>
<button mat-flat-button color="primary" (click)="hc.download()" class="mt-3 mx-1" *ngIf="icon===true"><i class="fa-thin fa-download"></i> Download</button>