<mat-card class="card">
    <mat-card-header>

        <mat-card-title class="title">
            Thanks !
        </mat-card-title>
        <mat-card-subtitle class="title">
            For purchasing our plan.
        </mat-card-subtitle>
    </mat-card-header>
    <p>Check Your Files</p>
    <mat-divider></mat-divider>
    <mat-card-content class="btn">
        <i class="fa-thin fa-folder"></i> Downloads
    </mat-card-content>
<mat-card-actions>
    <button class="btn">Back</button>
</mat-card-actions>
</mat-card>