.card{
    transform:rotateY(180deg);
    animation:logo-rt-fd-out 2s ease-in forwards;
    border:0;
    margin:auto;
    color: #fff;
font-family:rwl;
background:#222;
opacity:0.8;
padding:15px;
.title{
    font-family:rwl;
    color:#fff;
}
.field{
    
}
}