<mat-card class="card">
    <mat-card-header>
        <mat-card-subtitle class="title">
            For Ashwin
        </mat-card-subtitle>
        <mat-card-title class="title">
            Thanks !
        </mat-card-title>

    </mat-card-header>
    <p>Thanks for puschasing our package.</p>
    <mat-divider></mat-divider>
    <mat-card-content class="btn list-folders" (click)="forward()">
        <i class="fa-thin fa-folder mx-2"></i> Downloads
    </mat-card-content>
    <mat-card-content class="btn list-folders">
        <i class="fa-thin fa-dollar mx-2"></i> Product
    </mat-card-content>
    <mat-card-content class="btn list-folders">
        <i class="fa-thin fa-video mx-2"></i> Channel
    </mat-card-content>
    <mat-card-actions>
        <button class="btn mx-1 back" mat-button color="warn" (click)="back()">Back</button>
        <button class="btn mx-1 run" mat-button color="primary" (click)="forward()">Folder</button>
    </mat-card-actions>
</mat-card>